/*---------------------
  Call To Active
-----------------------*/
.callto {
    padding-top: 130px;
    background-color: #100028;
    position: relative;
}

.callto.sp__callto {
    padding-top: 0;
    /* background: #100028; */
}

.callto__text{
    position: relative;
    z-index: 3;
}

.callto__text h2 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 22px;
    z-index: 2;
}

.callto__text p {
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.callto__text a {
    color: #ffffff;
    background: #0270D7;
    font-size: 15px;
    font-weight: 700;
    font-family: "Play", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 32px 12px;
}

.callto::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #141516;
    pointer-events: none;
    z-index: 1;
}