@import './hero.css';
@import './base.css';
@import './Header.css';
@import './counter.css';
@import './work.css';
@import './team.css';
@import './blog.css';
@import './cta.css';
@import './footer.css';

.services {
    background: #569CE8;
    background: #A76AE4;
    background: #141516;
    padding-bottom: 60px;
    padding-top: 110px;
}

.services__title p {
    margin-bottom: 45px;
}

.services__item {
    margin-bottom: 45px;
}

.services__item:hover .services__item__icon:after {
    transform: rotate(45deg);
}

.services__item h4 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 18px;
}

.services__item p {
    margin-bottom: 0;
}

.services__item__icon {
    position: relative;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
}

.services__item__icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00bfe7;
    content: "";
    transition: all, 0.5s;
}

/*---------------------
  Portfolio
-----------------------*/
.portfolio {
    background: #100028;
}

.portfolio__filter {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio__filter li {
    list-style: none;
    font-size: 16px;
    color: #adadad;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 6px 22px;
}

.portfolio__filter li.active {
    border: 1px solid #00bfe7;
}

.portfolio__filter li:last-child {
    margin-right: 0;
}

.portfolio__item {
    margin-bottom: 35px;
}

.portfolio__item:hover .portfolio__item__text h4:after {
    opacity: 1;
}

.portfolio__item__video {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}

.portfolio__item__video .play-btn {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.portfolio__item__text {
    text-align: center;
}

.portfolio__item__text h4 {
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
}

.portfolio__item__text h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #333;
    content: "";
    transition: all, 0.3s;
    opacity: 0;
}

.portfolio__item__text ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: 24px;
    position: relative;
    color: #adadad;
}

.portfolio__item__text ul li:after {
    position: absolute;
    right: -16px;
    top: 0;
    content: "/";
}

.portfolio__item__text ul li:last-child {
    margin-right: 0;
}

.portfolio__item__text ul li:last-child:after {
    display: none;
}

.portfolio__item__text span {
    font-size: 16px;
    font-weight: 300;
    color: #adadad;
    display: block;
}

.pagination__option {
    text-align: center;
    padding-top: 20px;
}

.pagination__option.blog__pagi {
    padding-top: 5px;
}

.pagination__option .arrow__pagination {
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
}

.pagination__option .arrow__pagination.left__arrow {
    margin-right: 26px;
}

.pagination__option .arrow__pagination.right__arrow {
    margin-left: 18px;
}

.pagination__option .arrow__pagination span {
    opacity: 0.5;
}

.pagination__option .number__pagination {
    font-size: 18px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background: rgba(242, 242, 242, 0.1);
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header__nav__menu {
        margin-right: 25px;
    }

    .header__nav__menu ul li {
        margin-right: 25px;
    }

    .header__nav__social {
        padding-left: 25px;
    }

    .counter__item::before {
        display: none;
    }

    .counter__content {
        padding: 0px 145px 0 50px;
    }

    .counter__item.second__item {
        margin-top: -210px;
    }

    .counter__item.four__item {
        margin-top: -210px;
    }

    .hero__slider.owl-carousel .owl-dots {
        max-width: 930px !important;
    }
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero__slider.owl-carousel .owl-dots {
        max-width: 690px !important;
    }

    .services__title {
        margin-bottom: 50px;
    }

    .counter__item {
        transform: rotate(0);
        margin-bottom: 30px;
        width: auto;
    }

    .counter__item::before {
        display: none;
    }

    .counter__content {
        padding: 0;
    }

    .counter__item.second__item {
        margin-top: 0;
    }

    .counter__item.four__item {
        margin-top: 0;
    }

    .counter__item__text {
        transform: rotate(0);
    }

    .counter {
        height: auto;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .team__item.team__item--second {
        margin-top: 0;
    }

    .team__item.team__item--third {
        margin-top: 0;
    }

    .team__item.team__item--four {
        margin-top: 0;
    }

    .team__btn {
        position: relative;
        padding-top: 50px;
    }

    .about__pic {
        margin-bottom: 50px;
    }

    .about__text {
        padding-left: 0;
    }

    .portfolio__filter li {
        padding: 6px 15px;
    }

    .slicknav_menu {
        background: transparent;
        padding: 0;
        display: block;
    }

    .slicknav_nav ul {
        margin: 0;
        padding: 10px 30px;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 7px 0;
        margin: 0;
        color: #ffffff;
        font-weight: 600;
    }

    .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: transparent;
        color: #111111;
    }

    .slicknav_nav a:hover {
        border-radius: 0;
        background: transparent;
        color: #111111;
    }

    .slicknav_nav {
        background: #222222;
    }

    .slicknav_btn {
        position: absolute;
        right: 10px;
        top: 26px;
        background: #00bfe7;
    }

    .header .container {
        position: relative;
    }

    .header__nav__option {
        display: none;
    }
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
    .services__title {
        margin-bottom: 50px;
    }

    .counter__item {
        transform: rotate(0);
        margin-bottom: 30px;
        width: auto;
    }

    .counter__item::before {
        display: none;
    }

    .counter__content {
        padding: 0;
    }

    .counter__item.second__item {
        margin-top: 0;
    }

    .counter__item.four__item {
        margin-top: 0;
    }

    .counter__item__text {
        transform: rotate(0);
    }

    .counter {
        height: auto;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .team__item.team__item--second {
        margin-top: 0;
    }

    .team__item.team__item--third {
        margin-top: 0;
    }

    .team__item.team__item--four {
        margin-top: 0;
    }

    .team__btn {
        position: relative;
        padding-top: 50px;
    }

    .about__pic {
        margin-bottom: 50px;
    }

    .about__text {
        padding-left: 0;
    }

    .hero__slider.owl-carousel .owl-dots {
        max-width: auto;
        padding: 0 15px;
    }

    .slicknav_menu {
        background: transparent;
        padding: 0;
        display: block;
    }

    .slicknav_nav ul {
        margin: 0;
        padding: 10px 30px;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 7px 0;
        margin: 0;
        color: #ffffff;
        font-weight: 600;
    }

    .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: transparent;
        color: #111111;
    }

    .slicknav_nav a:hover {
        border-radius: 0;
        background: transparent;
        color: #111111;
    }

    .slicknav_nav {
        background: #222222;
    }

    .slicknav_btn {
        position: absolute;
        right: 10px;
        top: 26px;
        background: #00bfe7;
    }

    .header .container {
        position: relative;
    }

    .header__nav__option {
        display: none;
    }

    .hero__text h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .grid-sizer {
        width: calc(50% - 10px);
    }

    .work__item.wide__item {
        width: calc(50% - 10px);
    }

    .work__item {
        width: calc(50% - 10px);
    }

    .work__item.large__item {
        width: calc(50% - 10px);
    }

    .footer__top__social {
        text-align: left;
        padding-top: 30px;
    }

    .portfolio__filter li {
        margin-bottom: 10px;
    }

    .input__list {
        margin-right: 0;
    }

    .input__list input {
        width: 100%;
        margin-right: 0;
    }

    .contact__map {
        margin-bottom: 40px;
    }

    .team__item {
        margin-bottom: 20px;
    }

    .team .p-0 {
        padding: 0 15px !important;
    }

    .about__pic__item {
        margin-right: 0;
    }

    .blog__details__quote {
        padding: 30px 45px 35px 35px;
    }
}

/* Small Device = 320px */
@media only screen and (max-width: 479px) {
    .hero__text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .grid-sizer {
        width: 100%;
    }

    .work__item.wide__item {
        width: 100%;
    }

    .work__item {
        width: 100%;
        margin-right: 0;
    }

    .work__item.large__item {
        width: 100%;
    }

    .work__gallery {
        margin-right: 0;
    }

    .pagination__option .arrow__pagination.left__arrow {
        margin-right: 15px;
    }

    .pagination__option .arrow__pagination.right__arrow {
        margin-left: 10px;
    }

    .blog__details__quote {
        padding: 30px 40px 35px 35px;
    }
}

/*# sourceMappingURL=style.css.map */